# Driver to mdt_asc

When you need to assig the z value to a set of point from one or more asc file, you can use a open gis as QGIS.
But if the points are located in serveral files and each is heavy, gis programm can be a bit slow and you spend some time
This script are lighter to run and yoo don't need to run a gis to get the results

## Add module location to the path

In [4]:
import sys
sys.path.append(r'C:\Users\solis\Documents\DEV\python3\mdt\asc2xy')
import mdt_asc as mdt
import littleLogging as logging

## Data

    filepoints : str
        csv file with the following structure
        "gid","x","y"
        gid1 (int or str), x1 (float), y1 (float)
        ...
        gidn, xn, yn
    dtypes : Dictionary with 3 elements where gid can be 'int64','int32' or 'str' and x y 'float32' or 'float64'
        {'gid': type, 'x': type, 'y': type}, examples:
        dtypes = {'gid': 'int32', 'x': 'float32', 'y': 'float32'}
        dtypes = {'gid': 'str', 'x': 'float32', 'y': 'float32'}
        ...
    dir_asc_files : str
        directory where filenames are found
    filenames : List(str)
        list in wich each element is the name of a standar asc file
    output_file : Path to a csv file with the results of computations
    Returns
    -------
    dfp : pandas dataframe
        dateframe with data and z values

In [3]:
filepoints = r'E:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\Pozos_eia2017.csv'
dtypes = {'gid': 'int32', 'x': 'float32', 'y': 'float32'}
dir_asc_files = r'E:\layers\IGN\MDT'
filenames = ('PNOA_MDT05_ETRS89_HU30_0934_LID.asc',
             'PNOA_MDT05_ETRS89_HU30_0935_LID.asc',
             'PNOA_MDT05_ETRS89_HU30_0954_LID.asc',
             'PNOA_MDT05_ETRS89_HU30_0955_LID.asc',
             'PNOA_MDT05_ETRS89_HU30_0956_LID.asc',
             'PNOA_MDT05_ETRS89_HU30_0977_LID.asc',
             'PNOA_MDT05_ETRS89_HU30_0978_LID.asc')
output_file = 'zpoints.csv'

## Run the script

In [5]:
df = mdt.get_z_drv(filepoints, dtypes, dir_asc_files, filenames, output_file)

PNOA_MDT05_ETRS89_HU30_0934_LID.asc
PNOA_MDT05_ETRS89_HU30_0935_LID.asc
PNOA_MDT05_ETRS89_HU30_0954_LID.asc
PNOA_MDT05_ETRS89_HU30_0955_LID.asc
PNOA_MDT05_ETRS89_HU30_0956_LID.asc
PNOA_MDT05_ETRS89_HU30_0977_LID.asc
PNOA_MDT05_ETRS89_HU30_0978_LID.asc
All points have been assigned
output file E:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\zpoints.csv

## Optionally, you can inspect the dataframe df, but results have been saved yet in the output_file

In [8]:
df.head()

   gid         x          y        z                                 file
0    1  659106.0  4174112.0  147.502  PNOA_MDT05_ETRS89_HU30_0954_LID.asc
1    2  682212.0  4171578.0   23.615  PNOA_MDT05_ETRS89_HU30_0955_LID.asc
2    3  684360.0  4171404.0   23.336  PNOA_MDT05_ETRS89_HU30_0955_LID.asc
3    4  673134.0  4176125.0   66.315  PNOA_MDT05_ETRS89_HU30_0955_LID.asc
4    5  684567.0  4182211.0   35.008  PNOA_MDT05_ETRS89_HU30_0955_LID.asc

In [9]:
df.tail()

     gid         x          y        z                                 file
247  249  680064.0  4181107.0   48.613  PNOA_MDT05_ETRS89_HU30_0955_LID.asc
248  250  683259.0  4193725.0  151.706  PNOA_MDT05_ETRS89_HU30_0934_LID.asc
249  251  676532.0  4176964.0   51.731  PNOA_MDT05_ETRS89_HU30_0955_LID.asc
250  252  677272.0  4171609.0   41.631  PNOA_MDT05_ETRS89_HU30_0955_LID.asc
251  253  676489.0  4174759.0   48.991  PNOA_MDT05_ETRS89_HU30_0955_LID.asc

## By running the line below you can inspect several detail about the computacions:

In [10]:
logging.dump()

now you can open app.txt